<table class="u-full-width">
  <thead></thead>
  <tbody>
    {{#each messages as |message|}}
      <tr>
        <td>User 1</td>
        <td>{{message.message}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
