<table class="u-full-width">
  <thead></thead>
  <tbody>
    {{#each messages as |message|}}
      <tr>
        <td>{{message.user.email}}</td>
        <td>{{message.body}}</td>
        <td>{{message.timestamp}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
